# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.keys
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# env
*.env

# firebase
*firebase_account_service*

# package-lock
package-lock.json

# ConfigUrl
src/configs/ConfigUrl.ts

# .idea in inteliji
.idea

# .vscode in Visual studio code
.vscode